html,
body {
  height: 100%;
}
body {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url('../img/login_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
img{
  height: 20%;
  width: 20%;
}
